@import './Utils/mixin.scss';
@import './Utils/variables';
@import './Components/buttons.scss';
@import './Layout/footer.scss';
@import './Layout/function.scss';
@import './Layout/header.scss';
@import './Pages/home.scss';
@import './Pages/menue.scss';



body {
    font-family: $text-font;
    margin: 0;
    background-color: $color-background;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.container-logo {
 @include displayflexcenter;
 width: 100%;
 padding: 1rem 0 0 0;
 @include shadowbox;
 img {
    width: 12rem;
    height: 3rem;
 }
}

.logo-loc{
    margin: 5px;
}

.localisation {
    box-shadow: 0px 3px 3px #73737338 inset;
    @include displayflexcenter;
    height: 50px;
    width: 100%;
    background-color: $color-background-2;
}

.container-button-box {
    @include aligncenter;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;

}

.titre-button {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem ​10px 1.5rem 10px;
}

.sous-titre-button {
    font-size: 1.125rem;
    font-weight: 300;
}

.button1{
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    width: 220px;
    height: 50px;
    color: white;
    border-radius: 30px;
    background: linear-gradient(175deg, $color-secondary 10%, $color-primary 95%);
    @include shadowboxgeneral;
    transition: box-shadow 150ms linear, transform 150ms linear;
}

/* FONCTIONEMENT */

.function{
    height: 300px;
    background-color: white;
        .function-title {
            padding: 20px;
            font-size: large;
            font-weight: bolder;}
            .function-container {
                justify-content: center;
                display: flex;
                margin-bottom: 25px;
                padding: 25px 0 25px 0;}
                .function-step{
                        margin-bottom: 25px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 20px;
                        @include shadowboxgeneral;
                        border: none;
                        background-color: #f6f6f6;}
                        .function__step--number{
                            margin: 0px 20px 0 0;
                            color: #fff;
                            background-color: $color-primary;
                            border: 1px solid $color-primary;
                            border-radius: 50%;
                            padding: 4px 8px 4px 8px;
                            margin: 0 1.5rem 0 -12px;}      
                            .function__step--icon{
                                margin-right: 20px;
                                color: gray;}
                                .function-step:hover{
                                    background-color: rgba($color: $color-primary, $alpha: 0.2);
                                    .function__step--icon{
                                        color: $color-primary;}}
}

@media (min-width: 768px) {
    .function{
        height: 230px;
    }
    .restaurant__card{
        width: 350px;
    }
    .desktop{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
    .function-box{
        display: flex;
        justify-content: space-evenly;
        .function-step{
            height: 70px;
            width: 200px;}}
        .firsttwo{
        display: inline-block;}
        .threefour{
        display: inline-block;}
}


/* MENUE */

.restaurant--title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.3rem 0 .5rem 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p{
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.restaurant__card {
    height: 270px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    @include shadowboxgeneral;
    cursor: pointer;
    margin: 20px;
        .restaurant__card--img {
            border-radius: 1.5rem 1.5rem 0 0;
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-fit: cover;}
            .restaurant__card--tag{
                border-radius: 3px;
                background-color: $color-tertiary;
                color: $color-dark-green;
                padding: 5px;
                position: absolute;
                top: 12px;
                right: 10px; }
                .restaurant__card--text {
                    position: relative;
                    background-color: #fff;
                    border-radius: 0 0 1.5rem 1.5rem;
                    padding-left: 1rem;
                    height: 75px;}
                    .restaurant__card--heart{
                        position: absolute;
                        transform-origin: bottom;
                        opacity: 1;
                        font-size: 24px;
                        right: 1.5rem;
                        bottom: 1.5rem;
                        cursor: pointer;}
}

footer{
    margin-top: auto;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1.5rem;
    font-size: 12px;
    .footerlogo{
        filter: invert(100%);
        width: 105px;
        height: 15px;
        padding: 2rem 0 1.5rem 0;
        margin: 0 0 0 -10px;}
        .footer__link{
            margin: 0 0 10px 0}
            .whiteicon{
                color: #fff;
            }
}

h4{
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 0 0 12px 0;
}

/* LA PALETTE */




.return{
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.headerlogo{
    text-align: center;
    padding: 1rem 0 0 0;
}

.function-box{
    margin: 0 20px;
}

.pagemenu__img {
    width: 100%;
    height: 250px;
    object-fit: cover;  
}

.pagemenu__title{
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2.4rem 0 0 1.5rem;
    margin-top: -2rem;
    background-color: #f6f6f6;
}

h1{
    font-size: $fontSize;
    font-weight: $fontWeight;
    margin: 0;
    font-family: $logo-title-font;
}

.restaurant__heart{
    position: absolute;
    cursor: pointer;
    top: 2.5rem;
    right: 8%;
    font-size: 1.5rem;
}

.pagemenu {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    background-color: #f6f6f6;
}

.menu {
    grid-column-start: 2;
}
.menu__title {
    padding: 3rem 0 .5rem;
    font-size: 1rem;
}
.menu__title--underline{
    width: 2.5rem;
    border-top: 3px solid $color-tertiary;
    margin: .5rem 0 0 0
}

.menu__desc {
    position: relative;
    background-color: #fff;
    height: 70px;
    padding: 0 0 15px 0;
    margin: 1rem 0 12px 0;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    @include shadowboxgeneral;
    grid-column-start: 2;
    .menu__desc--title{
        width: 100%;
        padding: 0 0 0 12px;}
        .menu__desc--subtitle{
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem 0 12px;}
            .txt {
                overflow: hidden;
                text-overflow: ellipsis;}
                .price{
                    font-size: 14px;
                    font-weight: $fontWeight;
                    padding-right: .5rem;}
}

.btn__menu--block{
    grid-column-start: 2;
    text-align: center;
    margin: 2.5rem 0 4.3rem 0;
    cursor: pointer;
    .btn__menu{
        width: 190px;
        grid-column-start: 2;
        border-radius: 2rem;
        border: 0;
        @include shadowboxgeneral;
        font-size: 1rem;
        color: #fff;
        padding: 1rem;
        background-image: radial-gradient(ellipse farthest-corner at 20px 0, $color-secondary 0%, $color-primary 100%);
        cursor: pointer;
    }
}
