@import '../Utils/_variables.scss';
@import '../Utils/mixin.scss';

/* BOUTON */

.container-button-box {
    @include aligncenter;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;

}

.titre-button {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem ​10px 1.5rem 10px;
}

.sous-titre-button {
    font-size: 1.125rem;
    font-weight: 300;
}

.button1{
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    width: 220px;
    height: 50px;
    color: white;
    border-radius: 30px;
    background: linear-gradient(175deg, $color-secondary 10%, $color-primary 95%);
    @include shadowboxgeneral;
    transition: box-shadow 150ms linear, transform 150ms linear;
}

.button1:hover{
    background: linear-gradient(175deg, #e9add8 10%, #b79bda 95%);
    box-shadow: 3px 3px 10px #dedada9d ;
}

.btn__menu--block{
    grid-column-start: 2;
    text-align: center;
    margin: 2.5rem 0 4.3rem 0;
    cursor: pointer;
    .btn__menu{
        width: 190px;
        grid-column-start: 2;
        border-radius: 2rem;
        border: 0;
        @include shadowboxgeneral;
        font-size: 1rem;
        color: #fff;
        padding: 1rem;
        background-image: radial-gradient(ellipse farthest-corner at 20px 0, $color-secondary 0%, $color-primary 100%);
        cursor: pointer;
    }
}